<html>
    <head>
        <title>Random Users</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
        <!-- Font Awesome is for icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- Country Flag icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css" />
        <style type="text/css">
            .person{
                margin: 20px 0px;
            }
            .female a{ color:hotpink; }
        </style>
    </head>
    <body>
        <h1>The List of Random Users</h1>
        <ul>
            {% for person in randomusers.results %}
            <li>
                {{ person.name.first }}
            </li>
            {% endfor %}
        </ul>
        
        <div class="container">
            <div class="row">
                {% for person in randomusers.results %}
                    <div class="col-md-2 text-center person">
                        <img src="{{person.picture.large}}" class="img-fluid rounded-circle w-100">
                        <h6>{{person.name.first}} {{person.name.last}}</h6>
                        <div>
                            <span class="flag-icon flag-icon-{{person.nat | lower }}"></span>
                        </div>
                        <div class="{{person.gender}}">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://www.github.com/{{person.login.username}}" target="_blank"><i class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.facebook.com/{{person.login.username}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.twitter.com/{{person.login.username}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}    
            </div>    
        </div>
    </body>
</html>